
html {
    scroll-behavior: smooth;
}

.tableArtikel{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    text-align: center;
}


.headerText{
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    margin-right: 1vw;
}

.navbutton{
    width: 3.5vw;
    height: 2vw;
    border: none;
    color: black;
    font-size: 1.1vw;
    background: none;
}

.navbutton3{
    background:none;
    border: 2px solid #007bff;
    color: black;
    width: 3.5vw;
    height: 2vw;
    border-radius: 15px;
}

button:focus {outline:0;}

#active{
    background-color: #007bff;
    color: white;
    width: 3.5vw;
    height: 2vw;
    border-radius: 15px;
}

.headerSlash{
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
}

.header-center {
display:inline-block;
}

.search{
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    padding: 5px;
    margin-left: 1.5vw;

}




